* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-blue: #a6bbcc;
}

.head-color {
  color: var(--bg-blue) !important;
}
.head-bg-color {
  background-color: var(--bg-blue) !important;
}
